<!DOCTYPE HTML>
<!-- skel-baseline v2.0.3 | (c) n33 | getskel.com | MIT licensed -->
<html>
	<head>
		<title>twitdhdoodle</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <meta charset="utf-8" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
		</noscript>
	</head>
	<body id="top">

   

    <!-- The stylesheets -->
    

    <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body>
    <!-- Banner -->
    <section id="banner">
        <h2>Welcome to twitchdoodle!</h2>
        <p>twitchdoodle allows you to draw and see other people drawing over any twitch stream</p>
        <p>To try it out, just add any active stream name to the url</p>
        <p>Your doodles will be visible to anyone else watching the stream through twitchdoodle</p>
        <p>Lines are automatically erased so feel free to scribble all you want!</p>
    </section>
    
    <!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u 12u$(medium)">
							<h2>About</h2>
							<p>Created by Alex Yu</p>
                            <p>Hosted on <a href="https://www.heroku.com/">Heroku</a></p>
						</div>
						<div class="3u 6u(medium) 12u$(small)">
							<h3>Contact me</h3>
							<ul class="alt">
								<li><a href="mailto:alexgxiyu@gmail.com"></a>Email</li>
								<li><a href="https://www.facebook.com/AlexGYu"></a>Facebook</li>
								<li><a href="https://www.linkedin.com/in/alexgyu"></a>LinkedIn </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					&copy; twitchdoodle. All rights reserved.
				</div>
			</footer>
</body>

</html>