<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>doodletwitch</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- The stylesheets -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <base href="/">
</head>

<body>
    <div layout="column" layout-margin layout-padding  ng-controller="AppCtrl as appCtrl" ng-app="MyApp">
            <div id="main" flex>
                <section>
                    <h2>Welcome to doodletwitch!</h2>
                    <p>doodletwitch allows you to draw and see other people drawing over any twitch stream. To use it, add /active_stream_name to the end of the url, or check out some featured streams below.</p>
                    </br>
                    <p>Very much work in progress, check back for updates!</p>
                </section>
            </div>
            <div id="grid" class="grid-container" flex>
                <md-grid-list md-cols-gt-lg="4" md-cols-lg="2" md-cols-md="2" md-cols-sm="1" md-row-height="4:3" md-gutter="3px">
<!---->
                    <md-grid-tile ng-repeat="stream in streamList" ng-click="doodleStream(stream.stream.channel.name)">
                        <md-card md-ink-ripple>
                            <img class="md-card-image" ng-src="{{ stream.stream.preview.large }}" alt="{{ stream.title }} preview">
                            <md-card-footer>
                                <h4 class="stream-title">{{ stream.title }}</h3>
                                <h5>{{ stream.stream.game }}</h3>
                            </md-card-footer>
                        </md-card>

                    </md-grid-tile>
                </md-grid-list>
            </div>
    </div>

    <!-- Footer -->

    <footer id="footer" layout-margin layout-padding layout-align="center center">
        <div layout="row" layout-sm="column">
            <div flex>
                <h2>About</h2>
                <p>Created by Alex Yu</p>
                <p>Hosted on <a target="_blank" href="https://www.heroku.com/">Heroku</a>
                </p>
            </div>
            <div flex>
                <h3>Contact me</h3>
                <md-list>
                    <md-list-item><a target="_blank" href="mailto:alexgxiyu@gmail.com">Email</a>
                    </md-list-item>
                    <md-list-item><a target="_blank" href="https://www.facebook.com/AlexGYu">Facebook</a>
                    </md-list-item>
                    <md-list-item><a target="_blank" href="https://www.linkedin.com/in/alexgyu">LinkedIn</a>
                    </md-list-item>
                </md-list>
                </ul>
            </div>
        </div>
        <div class="copyright" layout="row" layout-padding layout-align="center center">
            &copy; doodletwitch. All rights reserved.
        </div>
    </footer>-

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
    <script src="js/controllers.js"></script>
</body>

</html>