/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	/* This will hide the extra canvas if the screen is small */
	overflow:hidden;
}


section, footer, header{
	display: block;
}


/*-------------------------
	Main Area
--------------------------*/

#cursors{
	position:relative;
}

#cursors .cursor{
	position:absolute;
	width:15px;
	height:22px;
	background:url('../img/pointer.png') no-repeat -4px 0;
}

#strim {
	position: absolute;
	z-index: -500;
	width: 100%;
	height: 100%;
}

#canvasContainer {
	width:100%;
	height: 95%;
	/* This will hide the extra canvas if the screen is small */
	overflow:hidden;
}