@charset "UTF-8";
/*-------------------------
	Simple reset
--------------------------*/

* {
    margin: 0;
    padding: 0;
}
/*-------------------------
	General Styles
--------------------------*/

section,
footer,
header {
    display: block;
}
/* To remove the scrollbars */
/*-------------------------
	Main Area
--------------------------*/
.grid-container {
    md-grid-tile {
        transition: all 400ms ease-out 50ms;
        md-card {
            cursor: pointer;   
        }
        md-card-footer {
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

#cursors {
    position: relative;
}

#cursors .cursor {
    position: absolute;
    width: 15px;
    height: 22px;
    background: url('../img/pointer.png') no-repeat -4px 0;
}

#strim {
    position: absolute;
    z-index: -500;
    width: 100%;
    height: 100%;
}
